{% extends "padre.html" %}

{% load static %}

{% block contenido %}

<div class="container">
    <div class="row">
        <div class="col">

            <div class="card">
                <img src="{% static 'app_coder\assets\img\testimonials-2.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                      <h5 class="card-title">Pepe Ramella</h5>
                      <p class="card-text">Estudia farmacia hace 20 años.</p>
                      <a href="#" class="btn btn-primary">Ver entregables</a>
                </div>
            </div>

        </div>
        <div class="col">

            <div class="card">
                <img src="{% static 'app_coder\assets\img\testimonials-2.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                      <h5 class="card-title">Negro Ema</h5>
                      <p class="card-text">Me metio a la programacion.</p>
                      <a href="#" class="btn btn-primary">Ver entregables</a>
                </div>
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="col">

            <div class="card">
                <img src="{% static 'app_coder\assets\img\testimonials-2.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                      <h5 class="card-title">Andy Cebaios Cab</h5>
                      <p class="card-text">Tiene muchos tatuajes, es un loco lindo.</p>
                      <a href="#" class="btn btn-primary">Ver entregables</a>
                </div>
            </div>

        </div>
        <div class="col">

            <div class="card">
                <img src="{% static 'app_coder\assets\img\testimonials-2.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                      <h5 class="card-title">Pipi MM.</h5>
                      <p class="card-text">Es mi hermano desde que tengo memoria.</p>
                      <a href="#" class="btn btn-primary">Ver entregables</a>
                </div>
            </div>
            
        </div>
    </div>
</div>
 
    
{% endblock %}