{% extends "padre.html" %}

{% load static %}

{% block contenido %}
    <p>Soy Tomas Rivera</p>
    <a>Tengo 27 años, soy de Cordoba, Argentina. Vivo en España hace mas de 3 años. Trabajo como camarero en un bar en la playa de Benidorm, Alicante.</a>
    <a>Decidi empezar a estudiar programacion porque no quiero llevar una bandeja atendiendo mesas con 40 o 50 años.</a>
    <a>Es muy dificil compaginar el tranajo con el estudio, mas con las diferencia horaria, cuando salia de trabajar a las 01 hs de la noche, tenia que estar a las 03:30 hs para la clase.</a>
    <a>Por un tiempo lo hacia, pero con el incio de la temporada de verano, el trabajo se intencifico y no tenia energia para seguir las clases y me atrase.</a>
    <a>Es la primera ves que estudio algo relacionado con la programacion. Me gusta y seguire estudiando.</a>
    <a>Atentamente</a>


    
    {% endblock %}